a
{
	color:#FFF;
}

body,html
{
	background:rgb(150,4,4) url(../img/redbg.jpg) repeat;
	color:#FFF;
	font-family:Helvetica,Arial;
	font-size:15px;
	margin:0;
	padding:0;
}

header
{
	font-family:'Titan One';
	margin:0 auto;
	text-align:center;
	width:100%;
}

header h1
{
	font-size:3em;
}

img
{
	border:0;
	outline:0;
}


#player
{
	background:rgba(56,56,56,0.5);
	border-radius: 1em;
	margin: 4em auto;
	width:400px;
}

#controls
{
	background: rgba(56,56,56,0.5);
	border-radius:1em 1em 0 0;
	height:6em;
	margin:0 auto;
	width:100%;
}

#songTitle
{
	border-radius: 1em 1em 0 0;
	display:block;
	font-family:'Passion One';
	font-size: 0.9em;
	height:25%;
	line-height:1.7em;
	margin: 0 auto;
	overflow: hidden;
	padding:3px;
	text-align:center;
	white-space:nowrap;
	width:90%;
}

#playertrols
{
	display:block;
	height:40%;
	width:100%;
}

#plauseStop
{
	display:inline-block;
	margin: 0 7% 0 14%;
	height:16px;
	width:50px;
}

#plause
{
	background:url(../img/play.png);
	cursor:pointer;
	display:inline-block;
	height:16px;
	width:17px;
}

#stop
{
	background:url(../img/stop.png);
	cursor:pointer;
	display:inline-block;
	margin-left:5px;
	height:16px;
	width:17px;
}

#progressBar
{
	background:rgba(136,7,7,0.5);
	cursor: pointer;
	display:inline-block;
	height:36px;
	vertical-align:middle;
	width:60%;
}

#timeLoaded
{
	background: rgba(223,6,11,0.5);
	height:36px;
	width:80%;
}

#timePlayed
{
	background: rgba(222,23,27,0.5);
	height:36px;
	margin-top:-36px;
	width: 60%;
}

#volumeTime
{
	display:block;
	float:right;
	margin-right:4%;
	width:50%;
}

#timeStatus
{
	display:inline-block;
	font-family:'Viga';	
	font-size:0.7em;
	margin-left:15%;
}

input[type=range]
{
	width:10px;
}

#playlist
{
	display:block;
	width:100%;
}

#tracks
{
	margin:1em 0 0 0;
	width:100%;
}

.track
{
	background: rgba(213,213,213,0.13);
	cursor:pointer;
	display:block;
	font-family:'Cabin Condensed';
	height:1.5em;
	line-height:1.5em;
	margin-bottom:0.18em;
	width:100%;
}

.track:hover,.trackPlaying
{
	background:rgba(213,213,213,0.3);
}

.track span
{
	margin-left:0.5em;
}


#playlistControl
{
	background:rgba(56,56,56,0.5);
	border-radius:0 0 1em 1em;
	cursor:pointer;
	display:block;
	height:2em;
	line-height:2em;
	margin-top:1em;
	text-align:center;
	width:100%;
}

#currentTime
{
	background:url(../img/currentTimeBG.png);
	display:block;
	font-size:0.7em;
	height:23px;
	padding:1px 0 1px 0;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	width:35px;
}